<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white"><em class="zoom-in me-3 fas fa-trash-alt"></em>Suppression d'un élément</h5>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center my-4">
                #
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                <a href="#" class="btn btn-danger">Confirmer la suppression</a>
            </div>
        </div>
    </div>
</div>
